<!--
<div class="favbox" ng-show="page_nr == 2">
	<div class="themebox">
		<h2>{{tenor[3].value}}</h2>
	</div>
	<section id="favorites">
		<ul>
			<li ng-repeat="q in questions" ng-click="q.accent=!q.accent;" class="{{getClassFromRating(q.answer)}}">
				<p>{{q.text}}</p><div class="accentbox"><img src="{{getFavoriteStar(q.accent);}}"></div>
			</li>
		</ul>
	</section>
	<div class="buttonBox">
		<button ng-click="page_nr=3">Bestätigen</button>
	</div>
</div>
-->
<header>
	<h2>Ausbildungs- und Kulturcentrum e.V.</h2>
</header>
<h1>Impressum</h1>
<!-- {{message}} -->