<!-- <div class="questionbox" ng-show="page_nr==1">
	<div ng-init="question_nr = 0">
		<div class="categorybox">
			<h2>Kategorie: {{categories[questions[question_nr].cat_id-1].name}}</h2>
		</div>
		<article>
			<h3>Frage: {{questions[question_nr].id}} von {{questions.length}}</h3>
			<p>{{questions[question_nr].text}}</p>
			<p>{{questions[question_nr].answer}}</p>
		</article>
		<div class="buttonBox">
			<button ng-click="vote(1);forward();">Zustimmung</button>
			<button ng-click="vote(0);forward();">Enthaltung</button>
			<button ng-click="vote(-1);forward();">Ablehnung</button>
			<button ng-click="back();">Zurück</button>
			<button ng-click="forward();">Vor</button>
		</div>
	</div>
</div> -->
<header>
	<h2>Ausbildungs- und Kulturcentrum e.V.</h2>
</header>
<h1>Impressum</h1>
<!-- {{message}} -->